<div class="row">
  <div class="col-lg-12">
      <h1 class="page-header">Cajas</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>


<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
          Cajas
      </div>
      <div class="panel-body">
        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
          <thead>
            <tr>
              <th>Fecha</th>
              <th>Monto inicial</th>
              <th>Ingresos</th>
              <th>Egresos</th>
              <th>Monto final</th>
            </tr>
          </thead>

          <tbody>
            <% @cashes.each do |cash| %>
              <tr>
                <td><%= link_to cash.fecha, cash_path(cash) %></td>
                <td><%= cash.monto_inicial %></td>
                <td><%= cash.total_ingresos %></td>
                <td><%= cash.total_egresos %></td>
                <td><%= cash.monto_final_real %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<br>