<input type="hidden" id="id_cash" value="<%= @cash.id %>">
<% if @cash.abierta? && @cash.persisted? %>
  <button id="cerrarcaja" class="btn btn-danger pull-right" style="margin-top:1em">Cerrar caja</button>
<% end %>

<div class="row">
  <h2>Caja de<%= @cash.fecha == Date.today ? " hoy" : "l " + @cash.fecha.to_s %> <%= "(Caja cerrada)" if @cash.cerrada? %></h2>
  <div class="col-md-3">
    <div class="form-group <%= "has-error" if @cash.new_record? %>">
      <label for="">Monto inicial</label>
      <input type="text" class="form-control" value="<%= @cash.monto_inicial %>" id="monto_inicial" <%= "disabled" if @cash.persisted? %>>
      <% if @cash.new_record? %>
        <span class="help-block">Por favor, ingrese el monto inicial primero</span>
        <button class="btn btn-success" id="guardar-monto-inicial">Guardar monto inicial</button>
      <% end %>
    </div>
  </div>
  
  <% if @cash.persisted? %>
    <div class="col-md-3">
    <label for="">Ingresos</label>
    <input type="text" class="form-control" disabled value="<%= @cash.total_ingresos %>">
    </div>

    <div class="col-md-3">
      <label for="">Egresos</label>
      <input type="text" class="form-control" disabled value="<%= @cash.total_egresos %>">
    </div>

    <div class="col-md-3">
      <label for="">Monto final</label>
      <input type="text" class="form-control" <%= "disabled" if @cash.cerrada? %> value="<%= @cash.monto_final_real %>">
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col-md-6">
    <h2>Ingresos</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Hora</th>
          <th>Monto</th>
          <th>Cuenta</th>
        </tr>
      </thead>
      <tbody>
        <% @cash.ingresos[:entries].each do |entry| %>
          <tr>
            <td><%= entry.created_at.strftime('%H:%M') %></td>
            <td><%= entry.monto %></td>
            <td><%= entry.account %></td>
          </tr>
        <% end %>
        <% @cash.ingresos[:payments].each do |payment| %>
          <tr>
            <td><%= payment.created_at.strftime('%H:%M') %></td>
            <td><%= payment.monto %></td>
            <td><%= payment.descripcion %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <h2>Egresos</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Hora</th>
          <th>Monto</th>
          <th>Cuenta</th>
        </tr>
      </thead>
      <tbody>
        <% @cash.egresos.each do |entry| %>
          <tr>
            <td><%= entry.created_at.strftime('%H:%M') %></td>
            <td><%= entry.monto %></td>
            <td><%= entry.account %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
  $(function() {
    $('#guardar-monto-inicial').click(function(event) {
      $.post('/api/cashes/setmi', {monto_inicial: $('#monto_inicial').val()})
        .then(function(date){
          window.location.reload();
        });
    });

    $('#cerrarcaja').click(function(event) {
      $.post('/api/cashes/cerrar', {id: $('#id_cash').val()})
       .then(function(data){
         window.location.reload();
       });
    });
  });
</script>