<li><h4> Ingresos <span class="label label-success pull-right"> <%= study.ingresos_anio(Date.today.year,  inicio: params[:inicio], fin: params[:fin])%>
        </span>  </h4>
</li>
<li> <h4>
    <a data-toggle="modal" data-target="#popup-gastos-<%= study.id %>" href="#" >Gastos</a>: <span class="label label-danger pull-right"> <%= study.sumar_gastos(inicio: params[:inicio], fin: params[:fin]) %></span>
  </h4> 
</li>
<li>
  <h4>
  <% balance = study.balance(inicio: params[:inicio], fin: params[:fin]) %>
  Balance: <span class="pull-right label <%= number_class(balance) %>"><%= balance  %>
  </span></h4>
</li>