<li> <h4> Primer año <span data-toggle="tooltip" title="Primer año" class="label label-success pull-right"> <%= study.ingresos_anio(Date.today.year, inicio: params[:inicio], fin: params[:fin])%>
                              </span>  </h4>
</li>
<li> <h4>Segundo año <span data-toggle="tooltip" title="Segundo año" class="label label-success pull-right"> <%= study.ingresos_anio(Date.today.year - 1, inicio: params[:inicio], fin: params[:fin])%>
        </span>  </h4>
</li>
<li><h4> Tercer año <span data-toggle="tooltip" title="Tercer año" class="label label-success pull-right"> <%= study.ingresos_anio(Date.today.year - 2, inicio: params[:inicio], fin: params[:fin])%>
        </span>  </h4>
</li>
<li>  <h4>
    <a data-toggle="modal" data-target="#popup-gastos-<%= study.id %>" class="popup-gastos-<%= study.id %>" href="#"> Gastos:</a> <span class="label label-danger pull-right" style="cursor:pointer"> <%= study.sumar_gastos(inicio: params[:inicio], fin: params[:fin]) %> </span> <span class="pull-right"></span></h4>

</li>
<li>
  <h4>
  <% balance = study.balance(inicio: params[:inicio], fin: params[:fin]) %>
  Balance: <span class="pull-right label <%= number_class(balance) %>"><%= balance  %>
  </span></h4>
</li>