<div id="popup-gastos-<%= study.id %>" class="modal fade" role="dialog">
   <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Gastos implicados</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>Cuenta</th>
                <th>Fecha</th>
                <th>Monto</th>
              </tr> 
            </thead>
            <tbody>
              <% @gastos[study.id].each do |gasto| %>
                <tr>
                  <td><%= gasto.account %></td>
                  <td><%= gasto.fecha %></td>
                  <td><%= gasto.monto %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>