<div class="row" id="filtros" style="margin-bottom:2em">

  <h4>Filtros</h4>
  <%= bootstrap_form_tag url: '/estadosdecuenta', method: :get do |f| %>
    <div class="col-md-6">
      <%= f.date_field :inicio, value: params[:inicio] %>
    </div>
    <div class="col-md-6">
      <%= f.date_field :fin, value: params[:fin] %>
    </div>
    <%= f.submit("Filtrar") %>
  <% end %>
</div>
<button data-toggle="collapse" data-target="#filtros" class="pull-right btn btn-default">Esconder/Mostrar filtros</button>
<div class="row">
  <div class="col-lg-12">
    <div class="panel-body">
      <div class="row" >
        <h4>Carreras y cursos</h4>
        <div class="list-group">
          <% Study.all.each do |study| %>
            <div class="list-group-item">
              <h5 class="list-group-item-heading"><%= study.nombre %></h5>
              <div class="row"  >
                <div class="col-md-6">
                  <ul style="margin-top:1em">
                    <% if study.carrera? %>
                      <%= render partial: 'balance_carrera', locals: {study: study} %> 
                    <% else %>
                      <%= render partial: 'balance_curso', locals: {study: study} %>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
            <%= render partial: 'modal_gastos', locals: {study: study} %>
          <% end %>
        </div>
      </div>
      <div class="row" >
        <h4>Otros ingresos y gastos</h4>
        <div class="row">
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">Gastos</div>
              <div class="panel-body">
                <table class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>Cuenta</th>
                      <th>Monto</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @otros_gastos_periodo.each do |gasto| %>
                      <tr>
                        <td><%= gasto.first %></td>
                        <td><%= gasto.last %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">Otros ingresos</div>
              <div class="panel-body">
                <table class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>Cuenta</th>
                      <th>Monto</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @otros_ingresos_periodo.each do |ingreso| %>
                      <tr>
                        <td><%= ingreso.first %></td>
                        <td><%= ingreso.last %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>