<%= bootstrap_form_for(@entry) do |f| %>
  <% if @entry.persisted? %>
    <%= f.text_field :id, label: 'Ingreso nro', disabled: true %>
  <% end %>
  <%= f.date_field :fecha, value: (Date.today if @entry.new_record? ) %>
  <%= f.text_field :monto %>
  <%= f.select :account_id, options_from_collection_for_select(Account.de_ingresos, :id, :nombre), label: 'Cuenta' %>
  <div class="form-inline">
    <%= f.submit 'Guardar', class: 'btn btn-primary' %>
    <%= link_to 'Back', entries_path, class: 'btn btn-default pull-right' %>
  </div>
<% end %>

<script>
  $( "select" ).select2({
    theme: "bootstrap",
    width: '100%',
  });
</script>

