<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @entry.fecha %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @entry.monto %>
</p>

<p>
  <strong>Cuenta:</strong>
  <%= @entry.account %>
</p>

<%= link_to 'Editar', edit_entry_path(@entry), class: 'btn btn-primary' %> 
<br>
<%= link_to 'Atrás', entries_path, class: 'btn btn-default' %>
