<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-lg-12">
      <h1 class="page-header">Estudiantes</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            Listado de estudiantes
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">

        <%= bootstrap_form_tag url: '/students', method: :get do |f| %>
          <div class="row" style="margin-bottom:1em">
            <div class="col-md-4">
              <label for="account_id">Carreras</label>
              <%= select_tag("carrers_ids[]", "<option> </option>".html_safe + options_for_select(Study.carreras.pluck(:nombre, :id), params[:carrers_ids]), class: 'multiple', multiple: true) %>
            </div>
            <div class="col-md-4" >
              <label for="account_id">Cursos</label>
              <%= select_tag("carrers_ids[]", "<option> </option>".html_safe + options_for_select(Study.cursos.pluck(:nombre, :id), params[:carrers_ids]), class: 'multiple', multiple: true) %>
            </div>
            <div class="col-md-4" >
              <label for="account_id">Los que adeudan</label>
              <%= select_tag("periodo_adeudado", "<option>No filtrar</option>".html_safe + options_from_collection_for_select(Payment.periodos_actuales, :to_s, :to_s, params[:periodo_adeudado]), class: 'single') %>
            </div>
          </div>
          <%= f.submit("Filtrar") %>
        <% end %>
        <div style="margin-bottom:1em;margin-top:1em">
          <%= link_to 'Nuevo estudiante', new_student_path, class: 'btn btn-primary' %>
          
        </div>
        <%= paginate @students, :theme => 'twitter-bootstrap-3' %>

        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
           <thead>
             <tr>
               <th>Nombre completo</th>
               <th>Dni</th>
               <th>Matricula</th>
               <th>Direccion</th>
               <th>Comentarios</th>
               <th>Pago</th>
               <th colspan="3"></th>
             </tr>
          </thead>

          <tbody>
            <% @students.each do |student| %>
              <tr class="odd gradeX">
                <td><%= student.nombre_completo %></td>
                <td><%= student.dni %></td>
                <td><%= student.matricula %></td>
                <td><%= student.direccion %></td>
                <td><%= truncate(student.comentarios, length: 40) %></td>
                <td><button class="btn btn-success">Registrar</button></td>
                <td>
                    <a href="<%= student_path(student) %>" class="btn glyphicon glyphicon-eye-open"></a>
                </td>
                <td><a href="<%= edit_student_path(student) %>" class="btn glyphicon glyphicon-edit"></a></td>
                <td><%= link_to '', student, method: :delete, data: { confirm: 'Estás seguro?' }, class: "btn glyphicon glyphicon-remove glyphicon glyphicon-plus" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Nuevo estudiante', new_student_path, class: 'btn btn-primary' %>

<script>
  $( "select.multiple" ).select2({
    theme: "bootstrap",
    width: '100%',
    multiple: true
  });
  $("select.single").select2({
    theme: 'bootstrap',
    width: '100%'
  })
</script>