<div class="panel panel-default">
  <div class="panel-body">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#datos" data-toggle="tab" aria-expanded="true">Datos</a>
      </li>
      <li>
        <a href="#cursado" data-toggle="tab" aria-expanded="true">Cursado</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade active in" id="datos">
        <br>
        <p>
          <strong>Nombre completo:</strong>
          <%= @student.nombre_completo %>
        </p>

        <p>
          <strong>Dni:</strong>
          <%= @student.dni %>
        </p>

        <p>
          <strong>Matricula:</strong>
          <%= @student.matricula %>
        </p>

     
        <p>
          <strong>Direccion:</strong>
          <%= @student.direccion %>
        </p>

        <p>
          <strong>Comentarios:</strong>
          <%= @student.comentarios %>
        </p>

        <%= link_to 'Editar', edit_student_path(@student), class: 'btn btn-primary' %>    
        <%= link_to 'Atrás', students_path, class: 'btn btn-default' %>
 
      </div>
      <div class="tab-pane fade" id="cursado">
         <br>
         <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead>
              <tr>
                <th>Nombre curso</th>
                <th>Inicio</th>
              </tr>
            </thead>

            <tbody>
              <% @student.courses.each do |course| %>
                <tr class="odd gradeX">
                  <td><%= course.study.nombre %></td>
                  <td><%= course.anio_inicio %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
