<div class="row">
  <div class="col-lg-12">
      <h1 class="page-header">Gastos</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            Listado de gastos
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">

        <div class="row" style="margin-bottom:2em">
          <%= bootstrap_form_tag url: '/expendings', method: :get do |f| %>
            <div class="col-md-12">
              <label for="account_id">Cuentas</label>
              <%= select_tag("account_ids[]", "<option> </option>".html_safe + options_from_collection_for_select(Account.de_gastos, :id, :nombre, params[:account_ids]), multiple: true) %>
            </div>
            <div class="col-md-12" style="margin-top:2em">
              <div class="col-md-6" style="padding-left:0px">
                <%= f.date_field(:start_date, value: params[:start_date]) %>
              </div>
              <div class="col-md-6" style="padding-left:0px">
                <%= f.date_field(:end_date, label: "Fecha fin", value: params[:end_date]) %>
              </div>
            <%= f.submit("Filtrar") %>
            </div>
          <% end %>
        </div>

       <table style="margin-top:1em" width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
          <thead>
            <tr>
              <th>Gasto nro</th>
              <th>Fecha</th>
              <th>Monto</th>
              <th>Cuenta</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @expendings.each do |expending| %>
              <tr class="odd gradeX">
                <td><%= expending.id %></td>
                <td><%= expending.fecha %></td>
                <td><%= expending.monto %></td>
                <td><%= expending.account %></td>
                <td><a href="<%= edit_expending_path(expending) %>" class="btn glyphicon glyphicon-edit"></a></td>
                <td><%= link_to '', expending, method: :delete, data: { confirm: 'Estás seguro?' }, class: "btn glyphicon glyphicon-remove glyphicon glyphicon-plus" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Nuevo gasto', new_expending_path, class: 'btn btn-primary' %>

<script>
  $( "select" ).select2({
    theme: "bootstrap",
    width: '100%',
    multiple: true
  });
</script>