<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @expending.fecha %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @expending.monto %>
</p>

<p>
  <strong>Cuenta:</strong>
  <%= @expending.account %>
</p>

<%= link_to 'Editar', edit_expending_path(@expending) %> 
<br>
<%= link_to 'Atrás', expendings_path %>
