<%= bootstrap_form_for(@study) do |f| %>
    <%= f.text_field :nombre %>
    <%= f.text_field :descripcion %>
    <%= f.select :tipo_estudio, options_from_collection_for_select(Study::TIPOS_ESTUDIO, :to_s, :to_s, @study.tipo_estudio) %>
    <%= f.number_field :monto_cuota, step: :any %>
    
    <label for="study[cuentas_de_gasto][]">Cuenta a la que imputar los gastos</label>
    <%= select_tag 'study[cuentas_de_gasto_ids][]', options_from_collection_for_select(Account.de_gastos_no_de_carrera + @study.cuentas_de_gastos, :id, :nombre, @study.cuentas_de_gastos.pluck(:id)), multiple: true %>
    
    <div class="form-group">
        <label for="">Requisitos</label>
        <% Study::REQUISITOS_DISPONIBLES.each do |req| %>    
            <div class="checkbox">
                <label  for="<%= req %>">
                <input type="checkbox" name="study[requisitos][]" value="<%= req %>" <%= "checked" if @study.es_requisito? req %> ><%= req.capitalize.humanize.capitalize %>
                </label>
            </div>
        <% end %>
    </div>
    <div class="form-inline">
        <%= f.submit "Guardar", class: 'btn btn-primary' %>
        <%= link_to 'Back', studies_path, class: 'btn btn-default pull-right' %>
    </div>
<% end %>

<script>
  $( "#study_tipo_estudio" ).select2({
    theme: "bootstrap",
    width: '100%'  
  });

  $( "#study_cuentas_de_gasto_ids_" ).select2({
    theme: "bootstrap",
    width: '100%'  , 
    multiple: true
  });
</script>
