<div class="row">
  <div class="col-lg-12">
      <h1 class="page-header">Carreras y cursos</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
          Listado de estudios
      </div>
      <div class="panel-body">

        <table style="margin-top:1em" width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Descripcion</th>
              <th>Tipo estudio</th>
              <th>Duracion</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
        </thead>

        <tbody>
          <% @studies.each do |study| %>
            <tr>
              <td><%= study.nombre %></td>
              <td><%= truncate(study.descripcion, length: 40) %></td>
              <td><%= study.tipo_estudio %></td>
              <td><%= study.duracion_to_s %></td>
               <td>
                    <a href="<%= study_path(study) %>" class="btn glyphicon glyphicon-eye-open"></a>
                </td>
                <td><a href="<%= edit_study_path(study) %>" class="btn glyphicon glyphicon-edit"></a></td>
                <td><%= link_to '', study, method: :delete, data: { confirm: 'Estás seguro?' }, class: "btn glyphicon glyphicon-remove glyphicon glyphicon-plus" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<br>

<%= link_to 'Nuevo estudio', new_study_path, class: 'btn btn-primary' %>
