<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @study.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @study.descripcion %>
</p>

<p>
  <strong>Tipo estudio:</strong>
  <%= @study.tipo_estudio %>
</p>

<p>
  <strong>Duracion:</strong>
  <%= @study.duracion %>
</p>

<%= link_to 'Edit', edit_study_path(@study) %> |
<%= link_to 'Back', studies_path %>
