<!DOCTYPE html>
<html lang="es" dir="ltr">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

<head>
<meta charset="utf-8">
<title>Planilla</title>

<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<style type="text/css">
	*{
		margin:0;
		padding: 0;
	}
	html{
		background-color: #FFF;
	}
	body{
		font-family: Arial, Verdana, Sans-serif;
		width: 800px;
		margin: auto;
		font-family: 'Source Sans Pro', sans-serif;
	}
	p, td, tr{
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 15px;
	}
	header, footer, article{
		width: 780px;
		padding: 10px;
	}
	.small-2{
		font-size: 10px;
	}
	.border{
		border-bottom: 1px solid #000;
	}
	.tabla{
		width: 800px;
	}
	.clear{
		clear: both;
	}
	.center{
		text-align: center;
	}
	section{
		background-color: #FFF;
		padding: 10px 20px;
	}
	.middle-col-l{
		width: 390px;
		float: left;
	}
	.middle-col-r{
		width: 390px;
		float: right;
	}
	.padding-top{
		padding-top: 15px
	}
	table {
	    font-family: arial, sans-serif;
	    border-collapse: collapse;
	    width: 100%;
	}
	td, th {
	    border: 1px solid #e5e5e5;
	    text-align: left;
	    padding: 4px 10px;
	}
	.uppercase{
		text-transform: uppercase;
	}
	@media print {
  .no-print {
    display: none !important;
  }

  .form-control
  {
    border: 0;
    padding:0;
    overflow:visible;
  }
}
</style>

</head>

<body>

<div class="tabla">
	<header>
		<div style="float: right;">
			<img src="<%= image_path 'logo.jpg' %>" style="width: 120px">
		</div>
		<div style="float: right; text-align: right; padding-right: 20px">
			<p style="padding-top: 20px;" class="small-2">Instituto Superior de Conocimientos Estéticos N° 113014 | Establecimiento Público de Gestión Privada S.P.E.P.M</p>
			<p class="small-2">Neuquén 361  |  (3360) Oberá, Misiones  |  Tel (3755) 405555</p>
		</div>
	</header>
	<div class="clear border" style="padding-top: 10px; margin: 0 10px"></div>
	<div class="clear">
		<p class="uppercase center padding-top"><input type="text" class="form-control" value="<%= @titulo %>"></p>
	</div>
	<div class="middle-col-l">
		<p class="center padding-top">Materia: <input class="form-control" type="text" value="Ética y Deontología Profesional"></p>
	</div>
	<div class="middle-col-r">
		<p class="center padding-top">Profesora: <input class="form-control"  type="text" value="Liliana Barrios"></p>
	</div>
	<div class="clear"></div>
	<section style="padding-top:30px">
			<table>
			  <tr>
			    <td width="300px">Alumnas</td>
			    <td width="100px"></td>
			    <td width="100px"></td>
			    <td width="100px"></td>
			    <td width="100px"></td>
			    <td width="100px"></td>
			    <td width="100px"></td>
			    <td width="100px"></td>			    
			  </tr>
			  <% @courses.includes(:student).order('students.nombre_completo asc').each do |c| %>
			  	<tr>
				    <td width="300px" height="16px"><%= c.student %></td>
				    <td width=""></td>
				    <td width="100px"></td>
				    <td width="100px"></td>
				    <td width="100px"></td>
				    <td width="100px"></td>
				    <td width="100px"></td>
				    <td></td>
			  	</tr>
			  <% end %>
			</table>
			<table style="margin-top: -1px">
			  <tr>
			    <td width="100%" height="16px">Observaciones</td>
			  </tr>
			</tab6e>
			<table style="margin-top: -1px">
			  <tr>
			    <td width="100%" height="16px"></td>
			  </tr>
			</tab6e>
			<table style="margin-top: -1px">
			  <tr>
			    <td width="100%" height="16px"></td>
			  </tr>
			</tab6e>
			<table style="margin-top: -1px">
			  <tr>
			    <td width="100%" height="16px"></td>
			  </tr>
			</tab6e>
			<table style="margin-top: -1px">
			  <tr>
			    <td width="100%" height="16px"></td>
			  </tr>
			</tab6e>
			<table style="margin-top: -1px">
			  <tr>
			    <td width="100%" height="16px"></td>
			  </tr>
			</tab6e>
			<table style="margin-top: -1px">
			  <tr>
			    <td width="100%" height="16px"></td>
			  </tr>
			</table>
	</section>
</div>
</body>
</html>