<!DOCTYPE html>
<html lang="es" dir="ltr">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

<head>
<meta charset="utf-8">
<title>Recibo</title>

<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<style type="text/css">
	*{
		margin:0;
		padding: 0;
	}
	html{
		background-color: #FFF;
	}
	body{
		font-family: Arial, Verdana, Sans-serif;
		width: 1200px;
		height: 800px;
		margin: auto;
		font-family: 'Source Sans Pro', sans-serif;
	}
	p, td, tr{
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 15px;
	}
	header, footer, article{
		width: 580px;
		padding: 10px;
	}
	.recibo{
		width: 600px;
		height: 800px;
		float: left;
	}
	.iva{
		background-color: #FFF;
		color: #000;
		border: 1px solid #000;
		padding: 5px 10px;
		margin:0px 20px;
	}
	section{
		background-color: #FFF;
		padding: 10px 20px;
	}
	.middle-col{
		width: 270px;
		float: left;
		margin: 10px;
	}
	.third-col{
		width: 239px;
		float: left;
		margin: 10px;
	}
	.center-col{
		width: 40px;
		height: 39px;
		float: left;
		margin: 10px;
		border: 1px solid #000;
		line-height: 1.3;
		font-size: 30px;
	}
	.big{
		font-size: 30px;
	}
	.clear{
		clear: both;
	}
	.center{
		text-align: center;
	}
	.right{
		text-align: right;
	}
	.small{
		font-size: 8px;
	}
	.small-2{
		font-size: 10px;
	}
	.medium{
		font-size: 12px;
	}
	table {
	    font-family: arial, sans-serif;
	    border-collapse: collapse;
	    width: 100%;
	}
	td, th {
	    border-bottom: 1px solid #e5e5e5;
	    text-align: left;
	    padding: 7px 10px;
	}
	.uppercase{
		text-transform: uppercase;
	}
	.white{
		color:#FFF;
	}
	.bold{
		font-weight: 600;
	}
	.tit-pago{
		background-color: #e5e5e5;
		width: 380px;
		float: left;
		padding: 5px 15px
	}
	.tit-total{
		background-color: #000;
		width: 100px;
		float: right;
		padding: 5px 15px
	}
	.campos{
		border-bottom: 1px dotted #000; padding: 7px 10px;
	}
	.mes-1a{
		width: 40px;
		float: left;
		height: 15px;
		background-color: #e5e5e5;
		border:1px solid #e5e5e5;
		padding: 6px 15px 6px 12px;
	}
	.mes-2a{
		width: 30px;
		float: left;
		height: 27px;  
	}
	.mes-1b{
		width: 40px;
		float: left;
		height: 15px;
		background-color: #e5e5e5;
		border:1px solid #e5e5e5;
		padding: 6px 15px 6px 12px;
	}
	.mes-2b{
		width: 30px;
		float: left;
		height: 28px; 
	}
	.fecha{
		width: 40px;
		float: left;
		height: 15px;
		background-color: #e5e5e5;
		border:1px solid #e5e5e5;
		padding: 6px 15px 6px 12px;
	}
	.fecha-vacio{
		width: 27px;
		float: left;
		height: 27px 
	}
	.fecha-vacio-2{
		width: 81px;
		float: left;
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
		border-right: 1px solid #000;
		height: 27px;
		border-left: 1px solid #000
	}
</style>

</head>

<body>

<div class="recibo" id="orig">
	<header>
		<div class="third-col">
			<img src="<%= wicked_pdf_asset_path('logo.jpg') %>" style="width: 135px">
			<p style="padding-top: 7px"><span class="bold">Fundación Carola B</span><br>
			<p class="small-2">P.J. N° A-4237</p></p>
			<p class="small">Instituto Superior de Conocimientos Estéticos N° 113014 | Establecimiento Público de Gestión Privada S.P.E.P.M</p>
			<p class="small">Neuquén 361  |  (3360) Oberá, Misiones  |  Tel (3755) 405555</p>
		</div>
		<div class="center-col">
			<p class="center big"><span class="bold">X</span></p>
			<div style="border-left: 1px solid #000; width: 1px; height: 126px; margin: auto;">
			</div>
		</div>
		<div class="third-col right">
			<p><span class="bold">RECIBO</span><br>
			<span class="small-2">Comprobante no válido como factura</span></p>
			<p style="margin-top: 10px"><span class="bold">N° 0002-<%= "#{@payment.nro_recibo.to_s.rjust(8, '0')}" %></span></p>
			<p class="small-2">C.U.I.T. 27-14420485-05 | D.G.R. 27-14420485-05 | Inicio Act. 02/2009</p>
			<div id="fecha" style="float: right; margin-top: 17px">
			    <div class="uppercase medium fecha">Fecha</div>
			     <div style="border-top: 1px solid #000; border-bottom: 1px solid #000; border-right: 1px solid #000; border-left: 1px solid #000" class="uppercase fecha-vacio"><%= @payment.fecha.day.to_s.rjust(2, '0') %></div>
			    <div style="border-top: 1px solid #000; border-bottom: 1px solid #000" class="uppercase fecha-vacio"><%= @payment.fecha.month.to_s.rjust(2, '0') %></div>
			    <div style="border: 1px solid #000;" class="uppercase fecha-vacio"><%= @payment.fecha.year.to_s[-2, 2] %></div>
			</div>
		</div>
		<div class="clear"></div>
	</header>
	<div class="iva" id="iva">
		<p class="center"><span class="bold">I.V.A. EXENTO</span></p>
	</div>
	<section>
			<div class="campos">
				<p>Recibí de <%= @payment.course.student %></p>
			</div>
			<div class="campos" style="width: 300px; float: left">
				<p>Domicilio <%= @payment.course.student.direccion %></p>
			</div>
			<div class="campos" style="width: 200px; float: right;">
				<p>Localidad</p>
			</div>
			<div class="clear"><br></div>
			<table style="margin-bottom: 10px;">
			  <tr>
			    <div class="uppercase tit-pago">En concepto de Pago</div>
			    <div class="uppercase white tit-total">Total</div>
			  </tr>
			</table>
			<table>
			  <tr>
			    <td width="600">Cuota <%= @payment.course.study %></td>
			    <td width="150">$ <%= @payment.monto %></td>
			  </tr>
			  <tr>
			    <td width="600"></td>
			    <td width="150">$</td>
			  </tr>
			  <tr>
			    <td width="600"></td>
			    <td width="150">$</td>
			  </tr>
			  <tr>
			    <td width="600"></td>
			    <td width="150">$</td>
			  </tr>
			  <tr>
			    <td width="600"></td>
			    <td width="150"></td>
			  </tr>
			  <tr>
			    <td width="600"></td>
			    <td width="150"></td>
			  </tr>
			  <tr>
			    <td width="600"></td>
			    <td width="150"></td>
			  </tr>
			</table>
	</section>
	<article>
			<div class="middle-col">
				<div id="años">
				    <div style="width: 40px; float: left; height: 15px; background-color: #e5e5e5; border:1px solid #e5e5e5; padding: 6px 15px 6px 12px;" class="uppercase medium center">AÑO</div>
				    <div style="width: 61px; float: left; border-top: 1px solid #000; border-bottom: 1px solid #000; border-right: 1px solid #000; height: 27px; border-left: 1px solid #000; line-height: 1.6" class="uppercase center"><span style="text-decoration: <%= "underline" if @payment.fecha.year == 2017 %>">2017</span></div>
				    <div style="width: 61px; float: left; height: 27px; border-top: 1px solid #000; border-bottom: 1px solid #000; line-height: 1.6" class="uppercase center"><span style="text-decoration: <%= "underline" if @payment.fecha.year == 2018 %>">2018</span></div>
				    <div style="width: 61px; float: left; border: 1px solid #000; height: 27px;line-height: 1.6" class="uppercase center"><span style="text-decoration: <%= "underline" if @payment.fecha.year == 2019 %>">2019</span></div>
				</div>
				<div class="clear"></div>
				<div id="meses" style="margin-top: 10px; line-height: 1.6;">
				    <div class="uppercase medium center mes-1a">MES</div>

				    <div style="border-top: 1px solid #000; border-bottom: 1px solid #000; border-right: 1px solid #000; border-left: 1px solid #000" class="uppercase center mes-2a"><span style="text-decoration: <%= "underline" if @payment.fecha.month == 1 %>;">01</span></div>
				    <div style="border-top: 1px solid #000; border-bottom: 1px solid #000" class="uppercase center mes-2a"><span style="text-decoration: <%= "underline" if @payment.fecha.month == 2 %>;">02</span></div>
				    <div style="border-top: 1px solid #000; border-bottom: 1px solid #000; border-left: 1px solid #000" class="uppercase center mes-2a"><span style="text-decoration: <%= "underline" if @payment.fecha.month == 3 %>;">03</span></div>
				    <div style="border-top: 1px solid #000; border-bottom: 1px solid #000; border-left: 1px solid #000" class="uppercase center mes-2a"><span style="text-decoration: <%= "underline" if @payment.fecha.month == 3 %>;">03</span></div>
				    <div style="border-top: 1px solid #000; border-bottom: 1px solid #000; border-left: 1px solid #000" class="uppercase center mes-2a"><span style="text-decoration: <%= "underline" if @payment.fecha.month == 4 %>;">04</span></div>
				    <div style="border: 1px solid #000;" class="uppercase center mes-2a"><span style="text-decoration: <%= "underline" if @payment.fecha.month == 4 %>;">04</span></div>

				    <div class="uppercase medium center mes-1b"></div>
				    <div style="border-bottom: 1px solid #000; border-right: 1px solid #000;border-left: 1px solid #000" class="uppercase center mes-2b"><span style="text-decoration: <%= "underline" if @payment.fecha.month == 7 %>;">07</span></div>
				    <div style="border-bottom: 1px solid #000" class="uppercase center mes-2b"><span style="text-decoration: <%= "underline" if @payment.fecha.month == 8 %>;">08</span></div>
				    <div style="border-bottom: 1px solid #000; border-left: 1px solid #000" class="uppercase center mes-2b"><span style="text-decoration: <%= "underline" if @payment.fecha.month == 9 %>;">09</span></div>
				    <div style="border-bottom: 1px solid #000; border-left: 1px solid #000" class="uppercase center mes-2b"><span style="text-decoration: <%= "underline" if @payment.fecha.month == 10 %>;">10</span></div>
				    <div style="border-bottom: 1px solid #000; border-left: 1px solid #000" class="uppercase center mes-2b"><span style="text-decoration: <%= "underline" if @payment.fecha.month == 11 %>;">11</span></div>
				    <div style="border-right: 1px solid #000; border-bottom: 1px solid #000; border-left: 1px solid #000;" class="uppercase center mes-2b"><span style="text-decoration: <%= "underline" if @payment.fecha.month == 12 %>;">12</span></div>
				</div>
			</div>
			<div class="middle-col">
				<div id="fecha" style="float: right; margin-top: 17px">
			    <div style="width: 125px; float: left; border-bottom: 1px solid #e5e5e5; height: 27px" class="uppercase">
			    	<p style="padding-left: 15px">$<%= @payment.monto %></p>
			    </div>
				</div>
				<div class="clear"></div>
				<div id="fecha" style="float: right; margin-top: 17px">
				    <div class="uppercase medium fecha">Fecha</div>
				    <div class="uppercase fecha-vacio-2"><%= @payment.fecha.to_s.gsub('-', '/') %></div>
				</div>
			</div>	
	</article>
	<div class="clear" style="border-bottom: 1px dotted #000; margin: 0px 20px;">
		<br>
	</div>
	<!-- <footer>
		<div class="middle-col">
			<p class="small">Impreso en: centrográficointegral de IMPEL S.R.L.<br>
			José Ingenieros 790 esq. Noruega - Tel: 03755 - 408187 / 422158<br>
			CUIT N° 30-71013600-5 Habilitación Municipal N° 083 / 07</p>
		</div>
		<div class="middle-col">
			<p class="right small">Fecha de Impresión 18/04/2017 Recibo “X” 0002-0000xxxx al 0002-0000xxxx x 2<br>
			Original BLANCO - Duplicado COLOR</p>
		</div>
	</footer> -->
	<div class="clear"></div>
</div>

<div class="recibo" id="dup">
	<header>
		<div class="third-col">
			<img src="<%= wicked_pdf_asset_path('logo.jpg') %>" style="width: 135px">
			<p style="padding-top: 7px"><span class="bold">Fundación Carola B</span><br>
			<p class="small-2">P.J. N° A-4237</p></p>
			<p class="small">Instituto Superior de Conocimientos Estéticos N° 113014 | Establecimiento Público de Gestión Privada S.P.E.P.M</p>
			<p class="small">Neuquén 361  |  (3360) Oberá, Misiones  |  Tel (3755) 405555</p>
		</div>
		<div class="center-col">
			<p class="center big"><span class="bold">X</span></p>
			<div style="border-left: 1px solid #000; width: 1px; height: 126px; margin: auto;">
			</div>
		</div>
		<div class="third-col right">
			<p><span class="bold">RECIBO</span><br>
			<span class="small-2">Comprobante no válido como factura</span></p>
			<p style="margin-top: 10px"><span class="bold">N° 0002-<%= "#{@payment.nro_recibo.to_s.rjust(8, '0')}" %></span></p>
			<p class="small-2">C.U.I.T. 27-14420485-05 | D.G.R. 27-14420485-05 | Inicio Act. 02/2009</p>
			<div id="fecha" style="float: right; margin-top: 17px">
			    <div class="uppercase medium fecha">Fecha</div>
			    <div style="border-top: 1px solid #000; border-bottom: 1px solid #000; border-right: 1px solid #000; border-left: 1px solid #000" class="uppercase fecha-vacio"><%= @payment.fecha.day.to_s.rjust(2, '0') %></div>
			    <div style="border-top: 1px solid #000; border-bottom: 1px solid #000" class="uppercase fecha-vacio"><%= @payment.fecha.month %></div>
			    <div style="border: 1px solid #000;" class="uppercase fecha-vacio"><%= @payment.fecha.year.to_s[-2, 2] %></div>
			</div>
		</div>
		<div class="clear"></div>
	</header>
	<div class="iva" id="iva">
		<p class="center"><span class="bold">I.V.A. EXENTO</span></p>
	</div>
	<section>
			<div class="campos">
				<p>Recibí de <%= @payment.course.student %></p>
			</div>
			<div class="campos" style="width: 300px; float: left">
				<p>Domicilio <%= @payment.course.student.direccion %></p>
			</div>
			<div class="campos" style="width: 200px; float: right;">
				<p>Localidad</p>
			</div>
			<div class="clear"><br></div>
			<table style="margin-bottom: 10px;">
			  <tr>
			    <div class="uppercase tit-pago">En concepto de Pago</div>
			    <div class="uppercase white tit-total">Total</div>
			  </tr>
			</table>
			<table>
			  <tr>
			    <td width="600">Cuota <%= @payment.course.study %></td>
			    <td width="150">$ <%= @payment.monto %></td>
			  </tr>
			  <tr>
			    <td width="600"></td>
			    <td width="150">$</td>
			  </tr>
			  <tr>
			    <td width="600"></td>
			    <td width="150">$</td>
			  </tr>
			  <tr>
			    <td width="600"></td>
			    <td width="150">$</td>
			  </tr>
			  <tr>
			    <td width="600"></td>
			    <td width="150"></td>
			  </tr>
			  <tr>
			    <td width="600"></td>
			    <td width="150"></td>
			  </tr>
			  <tr>
			    <td width="600"></td>
			    <td width="150"></td>
			  </tr>
			</table>
	</section>
	<article>
			<div class="middle-col">
				<div id="años">
				    <div style="width: 40px; float: left; height: 15px; background-color: #e5e5e5; border:1px solid #e5e5e5; padding: 6px 15px 6px 12px;" class="uppercase medium center">AÑO</div>
				    <div style="width: 61px; float: left; border-top: 1px solid #000; border-bottom: 1px solid #000; border-right: 1px solid #000; height: 27px; border-left: 1px solid #000; line-height: 1.6" class="uppercase center"><span style="text-decoration: <%= "underline" if @payment.fecha.year == 2017 %>">2017</span></div>
				    <div style="width: 61px; float: left; height: 27px; border-top: 1px solid #000; border-bottom: 1px solid #000; line-height: 1.6" class="uppercase center"><span style="text-decoration: <%= "underline" if @payment.fecha.year == 2018 %>">2018</span></div>
				    <div style="width: 61px; float: left; border: 1px solid #000; height: 27px;line-height: 1.6" class="uppercase center"><span style="text-decoration: <%= "underline" if @payment.fecha.year == 2019 %>">2019</span></div>
				</div>
				<div class="clear"></div>
				<div id="meses" style="margin-top: 10px; line-height: 1.6;">
				    <div class="uppercase medium center mes-1a">MES</div>

				    <div style="border-top: 1px solid #000; border-bottom: 1px solid #000; border-right: 1px solid #000; border-left: 1px solid #000" class="uppercase center mes-2a"><span style="text-decoration: <%= "underline" if @payment.fecha.month == 1 %>;">01</span></div>
				    <div style="border-top: 1px solid #000; border-bottom: 1px solid #000" class="uppercase center mes-2a"><span style="text-decoration: <%= "underline" if @payment.fecha.month == 2 %>;">02</span></div>
				    <div style="border-top: 1px solid #000; border-bottom: 1px solid #000; border-left: 1px solid #000" class="uppercase center mes-2a"><span style="text-decoration: <%= "underline" if @payment.fecha.month == 3 %>;">03</span></div>
				    <div style="border-top: 1px solid #000; border-bottom: 1px solid #000; border-left: 1px solid #000" class="uppercase center mes-2a"><span style="text-decoration: <%= "underline" if @payment.fecha.month == 3 %>;">03</span></div>
				    <div style="border-top: 1px solid #000; border-bottom: 1px solid #000; border-left: 1px solid #000" class="uppercase center mes-2a"><span style="text-decoration: <%= "underline" if @payment.fecha.month == 4 %>;">04</span></div>
				    <div style="border: 1px solid #000;" class="uppercase center mes-2a"><span style="text-decoration: <%= "underline" if @payment.fecha.month == 4 %>;">04</span></div>

				    <div class="uppercase medium center mes-1b"></div>
				    <div style="border-bottom: 1px solid #000; border-right: 1px solid #000;border-left: 1px solid #000" class="uppercase center mes-2b"><span style="text-decoration: <%= "underline" if @payment.fecha.month == 7 %>;">07</span></div>
				    <div style="border-bottom: 1px solid #000" class="uppercase center mes-2b"><span style="text-decoration: <%= "underline" if @payment.fecha.month == 8 %>;">08</span></div>
				    <div style="border-bottom: 1px solid #000; border-left: 1px solid #000" class="uppercase center mes-2b"><span style="text-decoration: <%= "underline" if @payment.fecha.month == 9 %>;">09</span></div>
				    <div style="border-bottom: 1px solid #000; border-left: 1px solid #000" class="uppercase center mes-2b"><span style="text-decoration: <%= "underline" if @payment.fecha.month == 10 %>;">10</span></div>
				    <div style="border-bottom: 1px solid #000; border-left: 1px solid #000" class="uppercase center mes-2b"><span style="text-decoration: <%= "underline" if @payment.fecha.month == 11 %>;">11</span></div>
				    <div style="border-right: 1px solid #000; border-bottom: 1px solid #000; border-left: 1px solid #000;" class="uppercase center mes-2b"><span style="text-decoration: <%= "underline" if @payment.fecha.month == 12 %>;">12</span></div>
				</div>
			</div>
			<div class="middle-col">
				<div id="fecha" style="float: right; margin-top: 17px">
			    <div style="width: 125px; float: left; border-bottom: 1px solid #e5e5e5; height: 27px" class="uppercase">
			    	<p style="padding-left: 15px">$ <%= @payment.monto %></p>
			    </div>
				</div>
				<div class="clear"></div>
				<div id="fecha" style="float: right; margin-top: 17px">
				    <div class="uppercase medium fecha">Fecha</div>
				    <div class="uppercase fecha-vacio-2"><%= @payment.fecha.to_s.gsub('-', '/') %></div>
				</div>
			</div>	
	</article>
	<div class="clear" style="border-bottom: 1px dotted #000; margin: 0px 20px;">
		<br>
	</div>
	<!-- <footer>
		<div class="middle-col">
			<p class="small">Impreso en: centrográficointegral de IMPEL S.R.L.<br>
			José Ingenieros 790 esq. Noruega - Tel: 03755 - 408187 / 422158<br>
			CUIT N° 30-71013600-5 Habilitación Municipal N° 083 / 07</p>
		</div>
		<div class="middle-col">
			<p class="right small">Fecha de Impresión 18/04/2017 Recibo “X” 0002-0000xxxx al 0002-0000xxxx x 2<br>
			Original BLANCO - Duplicado COLOR</p>
		</div>
	</footer> -->
	<div class="clear"></div>
</div>

</body>
</html>