<%= bootstrap_form_for(@course) do |f| %>
   <%= f.select :study_id, options_from_collection_for_select(Study.all, :id, :nombre, @course.study_id), label: 'Curso/Carrera' %>
   <%= f.number_field :anio_inicio, step: :any %>
   <h3>Datos del alumno</h3>
   <%= f.fields_for(:student) do |ff| %>
     <%= ff.text_field :nombre_completo %>
     <%= ff.text_field :dni %>
     <%= ff.text_field :direccion %>
     <%= ff.text_field :comentarios %>
   <% end %>
   <%= f.number_field :beca, step: :any %>
   <div class="form-group">
      <label for="">Requisitos</label>
      <% Study::REQUISITOS_DISPONIBLES.each do |req| %>    
        <div class="checkbox">
          <label  for="<%= req %>">
          <input type="checkbox" name="course[requisitos][]" value="<%= req %>" <%= "checked" if @course.requisito_cumplido? req %> ><%= req.capitalize.humanize.capitalize %>
          </label>
        </div>
      <% end %>
    </div>
   <div class="form-inline">
    <%= f.submit 'Guardar', class: 'btn btn-primary' %>
    <%= link_to 'Back', courses_path, class: 'btn btn-default pull-right' %> 
   </div>
<% end %>
