<div class="row">
</div>

<div class="row" style="margin-top: 1em">
  <div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            Listado de alumnos
        </div>

        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="row" style="margin-bottom:2em">
            <%= bootstrap_form_tag url: '/courses', method: :get do |f| %>
              <div class="col-md-4">
                <label for="account_id">Carrera/Curso</label>
                <%= select_tag("studies_ids[]", options_from_collection_for_select(Study.all, :id, :nombre, params[:studies_ids]), prompt: 'No filtrar') %>
              </div>
              <div class="col-md-4" >
              <label for="account_id">Los que adeudan</label>
                <%= select_tag("periodo_adeudado", options_from_collection_for_select(Payment.periodos_actuales, :to_s, :to_s, params[:periodo_adeudado]), class: 'single', prompt: 'No filtrar') %>
              </div>
              <div class="col-md-4" >
              <label for="account_id">Requisitos</label>
                <%= f.check_box 'con_requisitos_faltantes', {checked: params[:con_requisitos_faltantes] == '1'}%>
              </div>

              <div class="col-md-4">
                <label for="account_id">Año en curso</label>
                <%= select_tag("anio_en_curso", options_from_collection_for_select([1,2,3], :to_i, :to_i, params[:anio_en_curso]), prompt: 'No filtrar') %>
              </div>
              <div class="col-md-12" style="margin-top:1em">
                    <%= f.submit("Filtrar") %>
              </div> 
            <% end %>
          </div>
          <%= link_to 'Nuevo alumno', new_course_path, class: 'btn btn-primary' %>
          <div class="pull-right " style="margin-bottom: 2em">
            <%= link_to 'Planilla asistencia', planilla_asistencia_path(courses_ids: @courses.map {|c| c.id}.join(',')), class: 'btn btn-primary', mehtod: :post %>
          <%= link_to 'Planilla notas', planilla_notas_path(courses_ids: @courses.map {|c| c.id}  .join(',')), class: 'btn btn-primary', mehtod: :post %>
          </div>
        
          <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead>
              <tr>
                <th>Estudiante</th>
                <th>Carrera/Curso</th>
                <th>Año en curso</th>
                <th>Periodo adeudado</th>
                <th>Requisitos</th>
                <th>Pago</th>
                <th></th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <% @courses.each do |course| %>
                <tr class="odd gradeX">
                  <td><%= link_to course.student, course_path(course) %></td>
                  <td><%= course.study %></td>
                  <td><%= course.anio_en_curso %></td>
                  <td><%= course.siguiente_periodo_a_pagar %></td>
                  <td><%= course.requisitos_cumplidos? ? "Si" : "Faltan #{course.requisitos_no_cumplidos.join(', ')}"  %></td>
                  <td>
                    <button data-id="<%= course.id %>"
                            data-nombre-estudio="<%= course.study.nombre %>"
                            data-monto-cuota="<%= course.monto_adeudado %>" 
                            data-beca="<%= course.beca %>"
                            data-monto-a-pagar="<%= course.monto_a_pagar %>"
                            data-nombre-completo="<%= course.student.nombre_completo %>"
                            data-periodo="<%= course.siguiente_periodo_a_pagar %>"
                            data-interes="<%= course.interes  %>"
                     class="btn btn-success registrar-pago">Registrar</button>
                  </td>
                  <td><a href="<%= edit_course_path(course) %>" class="btn glyphicon glyphicon-edit"></a></td>
                  <td><%= link_to '', course, method: :delete, data: { confirm: 'Estás seguro?' }, class: "btn glyphicon glyphicon-remove glyphicon glyphicon-plus" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Nuevo alumno', new_course_path, class: 'btn btn-primary' %>

<div id="modal-pago" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Registrar pago</h4>
      </div>
      <div class="modal-body">
        <div class="row" style="margin:1em">
          <form role="form">
            <input class="form-control" id="pago-course-id" type="hidden" value="">
            <div class="row">
              <div class="col-md-9">
                <div class="form-group">
                  <label class="control-label" for="pago-nombre-completo">Nombre completo</label>
                  <input class="form-control" id="pago-nombre-completo" name="pago-nombre-completo" type="text" disabled value="">
                </div>
              </div>
              <div class="col-md-3">
                <label class="control-label" for="pago-fecha">Fecha pago</label>
                <input class="form-control" id="pago-fecha" name="pago-fecha" type="date" value="<%= Date.today %>">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label class="control-label" for="pago-nombre-estudio">Carrera/Curso</label>
                <input class="form-control" id="pago-nombre-estudio" name="pago-nombre-estudio" type="text" disabled value="">
              </div>
              <div class="form-group col-md-6">
                <label class="control-label" for="pago-periodo">Periodo</label>
                <%= select_tag 'pago-periodo', options_from_collection_for_select(Payment.periodos_actuales, :to_s, :to_s) %>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label class="control-label" for="pago-monto-cuota">Monto cuota</label>
                <input class="form-control" id="pago-monto-cuota" name="pago-monto-cuota" type="text" value="">
              </div>
              <div class="form-group col-md-6">
                <label class="control-label" for="pago-beca">Beca</label>
                <input class="form-control" id="pago-beca" name="pago-beca" type="text" disabled value="">
              </div>
            </div>
            
            <div class="form-group">
              <label class="control-label" for="pago-monto-a-pagar">Total a pagar</label>
              <input class="form-control" id="pago-monto-a-pagar" name="pago-monto-a-pagar" type="text" value="">
              <p id="pago-interes" class="form-text text-muted hidden">
                
              </p>
            </div>  
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button id="enviar-pago" type="button" class="btn btn-default" >Registrar pago  </button>
      </div>
    </div>

  </div>
</div>

<script>
  $( "select" ).select2({
    theme: "bootstrap",
    width: '100%',
  });
</script>

