<p id="notice"><%= notice %></p>


<div class="row" style="height: 100%;">
  <div class="panel panel-default">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#datos">Datos</a></li>
        <li><a data-toggle="tab" href="#cuotas">Cuotas</a></li>
    </ul>
    <div class="tab-content">
      <div id="datos" class="tab-pane active fade in">
        <div class="panel-body">

          <p>
            <strong>Carrera/Curso:</strong>
            <%= @course.study %>
          </p>

          <p>
            <strong>Estudiante:</strong>
            <%= @course.student %>
          </p>

          <p>
            <strong>Año de inicio:</strong>
            <%= @course.anio_inicio %>
          </p>

          <p>
            <strong>Año beca:</strong>
            <%= @course.anio_inicio %>
          </p>

          <p>
            <strong>Requisitos cumplidos:</strong>
            <%= @course.requisitos.join(',') %>
          </p>
        </div>
      </div>

      <div id="cuotas" class="tab-pane fade">
        <table class="table">
          <thead>
            <th>Periodo</th>
            <th>Fecha pago</th>
            <th>Monto pago</th>
          </thead>
          <tbody>
            <% @course.payments.order(id: :asc).each do |c| %>
              <td><%= c.periodo_pago %></td>
              <td><%= l c.fecha, format: :short %></td>
              <td><%= c.monto %></td>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>    
</div>

<%= link_to 'Atrás', courses_path, class: 'btn btn-default' %>

