<!DOCTYPE html>
<html>
<head>
  <title>Fundación Carola B.</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="wrapper">
  <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">Instituto estudios Carola</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="#"><i class="fa fa-user fa-fw"></i> Cuenta</a>
                </li>
                <li class="divider"></li>
                <li><a href="/"><i class="fa fa-sign-out fa-fw"></i> Cerrar sesión</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <!--<li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                    </div>
                </li>-->
                <li>
                    <a href="<%= courses_path %>">Alumnos</a>
                </li>
                    
                <li>
                    <a href="<%= studies_path %>">Carreras y cursos </a>
                </li>
                
                <li>
                    <a href="<%= estados_de_cuenta_path %>">Estados de cuenta</a>
                </li>
                <li>
                  <a href="#">Gastos
                    <span class="fa margin-left arrow"></span>
                  </a>
                  <ul class="nav nav-second-level collapse">
                    <li>
                        <a href="<%= expendings_path %>">Listado</a>
                    </li>

                    <li>
                        <a href="<%= new_expending_path %>">Registrar gasto</a>
                    </li>
                  </ul>    
                </li>
                <li>
                  <a href="#">Ingresos
                    <span class="fa margin-left arrow"></span>
                  </a>
                  <ul class="nav nav-second-level collapse">
                    <li>
                        <a href="<%= entries_path %>">Listado</a>
                    </li>

                    <li>
                        <a href="<%= new_entry_path %>">Registrar ingreso</a>
                    </li>
                  </ul>    
                </li>
                 <li>
                  <a href="#">Caja
                    <span class="fa margin-left arrow"></span>
                  </a>
                  <ul class="nav nav-second-level collapse">
                    <li>
                        <a href="<%= cashes_path %>">Listado</a>
                    </li>

                    <li>
                        <a href="<%= today_cashes_path %>">Caja de hoy</a>
                    </li>
                  </ul>    
                </li>
                <li>
                    <a href="<%= accounts_path %>">Cuentas</a>
                </li>


                <!--<li>
                    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="flot.html">Flot Charts</a>
                        </li>
                        <li>
                            <a href="morris.html">Morris.js Charts</a>
                        </li>
                    </ul>
                </li>-->
                
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
  </nav>
  <div id="page-wrapper">
    <%= yield %>
  </div>
</div>

</body>
</html>
