<%= bootstrap_form_for(@account) do |f| %>
  <%= f.text_field :nombre %>
  <%= f.select :tipo, options_from_collection_for_select(Account::TIPOS, :to_s, :to_s, @account.tipo) %>
  <div class="form-inline">
    <%= f.submit 'Guardar', class: 'btn btn-primary' %>
    <%= link_to 'Atrás', accounts_path, class: 'btn btn-default pull-right' %>
    
  </div>
<% end %>
