<div class="row">
  <div class="col-lg-12">
      <h1 class="page-header">Cuentas</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>


<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
          Listado de cuentas
      </div>
      <div class="panel-body">
        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Tipo</th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @accounts.each do |account| %>
              <tr>
                <td><%= account.nombre %></td>
                <td><%= account.tipo %></td>
                <td><a href="<%= edit_account_path(account) %>" class="btn glyphicon glyphicon-edit"></a></td>
                <td><%= link_to '', account, method: :delete, data: { confirm: 'Estás seguro?' }, class: "btn glyphicon glyphicon-remove glyphicon glyphicon-plus" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<br>

<%= link_to 'Nueva cuenta', new_account_path , class: 'btn btn-primary' %>