<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @account.nombre %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @account.tipo %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
